<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkjd.business.mapper.CheckSubMapper">

    <resultMap type="CheckSub" id="CheckSubResult">
        <result property="id" column="id"/>
        <result property="dictType" column="dict_type"/>
        <result property="dictValue" column="dict_value"/>
        <result property="checkId" column="check_id"/>
        <result property="checkValue" column="check_value"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectCheckSubVo">
        select id, dict_type, dict_value, check_id,check_value,create_by, create_time, update_by, update_time, del_flag from tab_check_sub
    </sql>

    <select id="selectCheckSubList" parameterType="CheckSub" resultMap="CheckSubResult">
        <include refid="selectCheckSubVo"/>
        <where>
            del_flag = 0
            <if test="dictType != null  and dictType != ''">and dict_type = #{dictType}</if>
            <if test="dictValue != null  and dictValue != ''">and dict_value = #{dictValue}</if>
            <if test="checkId != null  and checkId != ''">and check_id = #{checkId}</if>
        </where>
    </select>

    <select id="selectCheckSubById" parameterType="Long" resultMap="CheckSubResult">
        <include refid="selectCheckSubVo"/>
        where id = #{id} and del_flag = 0
    </select>

    <insert id="insertCheckSub" parameterType="CheckSub" useGeneratedKeys="true" keyProperty="id">
        insert into tab_check_sub
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictType != null">dict_type,</if>
            <if test="dictValue != null">dict_value,</if>
            <if test="checkId != null">check_id,</if>
            <if test="checkValue != null">check_value,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictType != null">#{dictType},</if>
            <if test="dictValue != null">#{dictValue},</if>
            <if test="checkId != null">#{checkId},</if>
            <if test="checkValue != null">#{checkValue},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateCheckSub" parameterType="CheckSub">
        update tab_check_sub
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictType != null">dict_type = #{dictType},</if>
            <if test="dictValue != null">dict_value = #{dictValue},</if>
            <if test="checkId != null">check_id = #{checkId},</if>
            <if test="checkValue != null">check_value = #{checkValue},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCheckSubById" parameterType="Long">
        delete from tab_check_sub where id = #{id}
    </delete>

    <delete id="deleteCheckSubByIds" parameterType="String">
        delete from tab_check_sub where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>