<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zkjd.business.mapper.WorkTaskMapper">
    
    <resultMap type="WorkTask" id="WorkTaskResult">
        <result property="taskId"    column="task_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="taskContent"    column="task_content"    />
        <result property="implementTime"    column="implement_time"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWorkTaskVo">
        select task_id, project_id, task_content, implement_time, status, del_flag, create_by, create_time, update_by, update_time from tab_work_task
    </sql>

    <select id="selectWorkTaskList" parameterType="WorkTask" resultMap="WorkTaskResult">
        <include refid="selectWorkTaskVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="taskContent != null  and taskContent != ''"> and task_content = #{taskContent}</if>
            <if test="implementTime != null "> and implement_time = #{implementTime}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectWorkTaskByTaskId" parameterType="Long" resultMap="WorkTaskResult">
        <include refid="selectWorkTaskVo"/>
        where task_id = #{taskId}
    </select>
        
    <insert id="insertWorkTask" parameterType="WorkTask" useGeneratedKeys="true" keyProperty="taskId">
        insert into tab_work_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="taskContent != null">task_content,</if>
            <if test="implementTime != null">implement_time,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="taskContent != null">#{taskContent},</if>
            <if test="implementTime != null">#{implementTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWorkTask" parameterType="WorkTask">
        update tab_work_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="taskContent != null">task_content = #{taskContent},</if>
            <if test="implementTime != null">implement_time = #{implementTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where task_id = #{taskId}
    </update>

    <delete id="deleteWorkTaskByTaskId" parameterType="Long">
        delete from tab_work_task where task_id = #{taskId}
    </delete>

    <delete id="deleteWorkTaskByTaskIds" parameterType="String">
        delete from tab_work_task where task_id in 
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>
</mapper>